.App {
  text-align: center;
  background-color: black;
  position: relative;
}

div.home {
  padding-top: 30px;
  display: grid;
}

.App-header {
  background-image: url("./images/basketball_court.png");
  background-position: center;
  background-color: black;
  background-size: cover;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

div.userscontainer {
  font-size: 15px;
  font-weight: bold;
  position: fixed;
  top: 10px;
  right: 10px;
}

h3.navlink {
  font-size: 15px;
  position: fixed;
  top: -5px;
  left: 15px;
}

.logout {
  position: fixed;
  top: 10px;
  left: 125px;
}


div#map {
  top: 540px;
  position: absolute;
  height: 350px; 
  width: 50%;
  margin-left: 25%;
  background-color: black;
  display: none; 
}

#mapcontainer {
  position: relative;
  
}

html {
  background-color: black;
}

div#navi {
  color: darkorange;
  font-size: bold;
}
