.App {
  text-align: center;
  background-color: black;
  position: relative;
}

div.home {
  padding-top: 20px;
  display: block;
}

.App-header {
  background-image: url("./images/court.jpg");
  background-position: center;
  background-color: black;
  background-size: cover;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

div.userscontainer {
  color:white;
  font-size: 15px;
  font-weight: bold;
  position: fixed;
  top: 10px;
  right: 10px;
}

h3.navlink {
  color: white;
  font-size: 15px;
  position: fixed;
  top: -5px;
  left: 15px;
}

.logout {
  position: fixed;
  top: 10px;
  left: 125px;
}

div.search {
  position: absolute;
  top: 390px;
  margin-left: 45%;
}


#mapcontainer {
  position: relative;
  top: 50%;
  
}

#welcome {
  background-color: black;
  width: 30%;
  margin: auto;
  border-color: yellow;
  border-style: ridge;
  opacity: .9;
}

#welcome a{
  text-decoration: none;
}

#welcome a:hover{
  background-color: yellowgreen;
}

div#navi a{
  position: relative;
  text-decoration: none;
  color:limegreen;
  font-style: oblique;
  font-weight: bold;
  background-color: grey;
  opacity: .6;
  border-style: double;
  border-color: green;
}

.playercard {
  position: relative;
  top:90px;
  border: yellowgreen;
  border-style: ridge;
  width:60%;
  margin:auto;
  background: black;
  padding-bottom: 10px;
  
}

#formcard {
  color:black ;
  
}

#stats {
  color:goldenrod;
  flood-opacity: -50%;
}



#login {
  text-shadow: seashell;
  font-weight: lighter;
  position: relative;
  top: 65px;
  color: yellow;
}

#court_title {
  color: black;
  background-color: grey;
  opacity: .8;
  
}

h2, p {
  color: black;
}

p#subtitle{
  color: white;
}

div#infowindow {
  color: black;
}

h1 {
  color: white;
}

div.suggestions {
  color: black;
  width:30%;
  margin-left: 33%;
  font-size: medium;
  position: relative;
  bottom: 20px;
  background-color: white;

}

input#placesearch {
  top:32%;
  position: relative;
  width:20%;

}

button.locate {
  position: absolute;
  bottom: 2%;
  left:42%;
  width:15%;
}

button.findcourts {
  visibility: hidden;
}