.App-header {
  background-image: url("./images/background-sunset.jpg");
  background-size: cover;
  min-height: 100vh;
}

div.home {
  padding-top: 20px;  
  height: 300px;
  background: linear-gradient(180deg, rgba(0,0,0,0.54) 0%, rgba(0,0,0,0) 100%);
  width: 100%;
  text-align: center;
  align-items: center;
}

div.container {
  width: 100%;
  align-items: center;
}

h1#title{
  font-size: 167px;
  font-weight: lighter;
  color:  #FCCD89;
  height: 25%;
  width: 50%;
  margin-left: 25%;
  margin-top: 3%;
  font-family: TheHistoriaDemo;
}

.App-link {
  color: #61dafb;
}

div.userscontainer {
  font-weight: bold;
  position: fixed;
  top: 15px;
  left: 10px;
  color: #FFFFFF;
  font-size: 16px;
  letter-spacing: 1.78px;
  line-height: 19px;
  text-align: center;
}

.logout {
  position: fixed;
  top:15px;
  right: 15px;
  font-family: Montserrat;
  font-size: 15px;
  letter-spacing: 1.78px;
  line-height: 19px;
}

div.search {
  position: absolute;
  top: 390px;
  margin-left: 45%;
}

#mapcontainer {
  position: relative;
  top: 50%;
  
}

h3#welcome {
  position: fixed;
  top: 10px;
  right: 10px;
  height: 5%;
  width: 20%;
  color: #FFFFFF;
  font-family: Montserrat;
  font-size: 16px;
  letter-spacing: 1.78px;
  line-height: 19px;
 
}

h3.navlink {
  position: absolute;
  top: 3px;
  right: 5%;
  height: 5%;
  width: 20%;
  color: #FFFFFF;
  font-family: Montserrat;
  font-size: 16px;
  letter-spacing: 1.78px;
  line-height: 19px;
 
}

#welcome a{
  text-decoration: none;
  color: white;
  
} 

#welcome a:focus{
  text-decoration: none;
  color:#FCCD89;
  
} 

div#content {
  position: fixed;
  top: 50px;
  right: 10px;
  height: 5%;
  width: 17%;
  color: #FFFFFF;
  font-family: Montserrat;
  font-size: 16px;
  letter-spacing: 1.78px;
  line-height: 19px;
}

div.form-group {
  padding-top: 4px;
}


div#navi {
  position: relative;
  text-align: center;
  top:35px;
  right:15px;
 
}

div#navi a {
  text-decoration: none;
  color: black;
  font-family: Montserrat;
  font-size: 18px;
  letter-spacing: 1.78px;
  line-height: 19px;
}

div#navi a:focus {
  color:#FCCD89;
  font-weight: bold;
}

.playercard {
  position: relative;
  text-align: center;
  top:70px;
  width: 25%;
  margin:auto;
  background: linear-gradient(180deg, rgb(243, 207, 91) 20%, rgb(207, 164, 44) 50%); 
  padding-top:10px;
  padding-bottom: 10px;
  font-family: Montserrat;
  font-size: 16px;
  letter-spacing: 1.78px;
  line-height: 19px;
  border-style:groove;
  border-radius: 13px;
  box-shadow: 10px 10px 5px black;
}

div#form {
  width: 50%;
  margin-left: 25%;
  margin-top: 110px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background: linear-gradient(180deg, rgb(243, 207, 91) 20%, rgb(207, 164, 44) 50%); 
  border-radius: 10px;
  font-family: Montserrat;
  font-size: 16px;
  letter-spacing: 1.78px;
  line-height: 19px;
  border-style:groove;
  border-radius: 13px;
  box-shadow: 10px 10px 5px black;
}

#formcard {
  color:black ;
  
}

#stats {
  color:black;
  flood-opacity: -50%;
  padding-bottom: 10px;
}


#court_title {
  color: black;
  background-color: grey;
  opacity: .8;
  
}

h2, p {
  color: black;
}

p#subtitle{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  height: 103px;
  width: 583px;
  margin-left: 27%;
  color: #000A0A;
  font-family: Montserrat;
  font-size: 30px;
  letter-spacing: 3.33px;
  line-height: 40px;
  text-align: center;
}

div#infowindow {
  color: black;
}


div.suggestions {
  width:21%;
  margin-left: 38%;
  font-size: medium;
  position: relative;
  top: 52px;
  background: darkgray;
}

input#placesearch {
  background: darkgray;
  top:43.5%;
  font-size: medium;
  position: absolute;
  width:20%;
  margin-left: 40%;
}

button.locate {
  position: absolute;
  bottom: 2%;
  left:42%;
  width:15%;
}

button.findcourts {
  visibility: hidden;
}

h3#nickname {
  position: relative;
  bottom:10px;
  font-size: 26px;
 
}

div#card-image {
  padding-bottom: 85%;
  margin-bottom: 4%;
  background-image: url('./images/playercardpic.png');
  background-size: 100%;
  margin-left:2%;
  margin-right: 2%;
  border-radius: 10px;
  
}

